<div class="main-banner">
    <div class="main-banner__header">
        <div class="main-banner__title-wrapper">
            <div class="main-banner__title">
                <h1>{{ title }}</h1>
            </div>
            <span class="pill">
                {{ pill }}
            </span>
        </div>
        <div class="main-banner__term">
            <div class="main-banner__term-text">
                <p>{{ term }}</p>
            </div>
            <span class="main-banner__timer js-main-banner-timer">
            </span>
        </div>
    </div>
    <div class="main-banner__record">
        <div class="main-banner__img">
            <img src="http://via.placeholder.com/450x350" alt="">
        </div>
        <div class="main-banner__record-description">
            <div class="main-banner__text">
                {{ text }}
            </div>
            <div class="main-banner__details">
                <p>Узнайте детали акции</p>
                <span class="btn btn--primary">
                    +7 495 150-XX-XX
                </span>
            </div>
        </div>
    </div>
</div>