<div class="banner-item">
    <div class="banner-item__img">
        <img src="http://via.placeholder.com/225x150" alt="">
    </div>
    <div class="banner-item__title">
        <p> {{ title }} </p>
    </div>
    <div class="banner-item__text">
        <p>{{ text }}</p>
    </div>
</div>