<header class="page-header">
    <div class="page-header__panel">
        <div class="container page-header__panel-inner">
            <div class="page-header__panel-nav">
                <a href="#" class="page-header__panel-nav-item page-header__panel-nav-item--active">Москва и МО</a>
                <a href="#" class="page-header__panel-nav-item">С-Петербург и ЛО</a>
                <a href="#" class="page-header__panel-nav-item">Другие регионы</a>
                <a href="#" class="page-header__panel-nav-item">Зарубежная недвижимость</a>
                <a href="#" class="page-header__panel-nav-item">Поиск по карте</a>
            </div>
            <div class="page-header__user-actions">
                <a href="#" class="page-header__user-actions-item page-header__user-actions-item--add">Разместить
                    объявление</a>
                <a href="#" class="page-header__user-actions-item page-header__user-actions-item--reg">Зарегистрироваться</a>
                <a href="#" class="page-header__user-actions-item page-header__user-actions-item--enter">Войти</a>
            </div>
        </div>
    </div>
    <div class="page-header__logo-panel" data-uk-sticky="">
        <div class="container ">
            <div class="page-header__logo-panel-inner">
                <div class="page-header__burger " id="js-mobile-burger">
                    <span></span><span></span><span></span>
                </div>
                <div class="logo">
                    <svg class="icon-logo">
                        <use xlink:href="images/svg-icons.svg#logo"/>
                    </svg>
                </div>
                <div class="menu page-header__logo-panel-menu">
                    <ul class="menu__list">
                        <li class="menu__item"><a href="#" class="menu__link menu__link--dotted"><span
                                        class="menu__link-inner">Продажа</span></a></li>
                        <li class="menu__item"><a href="#" class="menu__link menu__link--dotted"><span
                                        class="menu__link-inner">Аренда</span></a></li>
                        <li class="menu__item"><a href="#" class="menu__link"><i class="header-flame-icon"></i><span
                                        class="menu__link-inner menu__link-inner--red">Спецпредожения</span></a></li>
                        <li class="menu__item menu__item--active"><a href="#" class="menu__link"><span
                                        class="menu__link-inner">Новостройки</span> </a></li>
                        <li class="menu__item"><a href="#" class="menu__link"><span
                                        class="menu__link-inner">Посёлки</span> </a></li>
                        <li class="menu__item"><a href="#" class="menu__link"><span
                                        class="menu__link-inner">Риэлоры</span> </a></li>
                        <li class="menu__item"><a href="#" class="menu__link"><span
                                        class="menu__link-inner">Журнал</span> </a></li>
                    </ul>
                </div>
                <div class="logo-absolute">
                    <a href="#">
                        <svg class="icon-logo-absolute">
                            <use xlink:href="images/svg-icons.svg#absolut-logo"/>
                        </svg>
                    </a>
                </div>
                <div class="page-header__logo-panel-banner">
                    <a href="#">
                        <img src="http://via.placeholder.com/240x35" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>