<div class="thumbnail-item" data-mh="thumbnails">
    <a href="#" class="thumbnail-item__inner">
        <div class="thumbnail-item__img">
            <img src="http://via.placeholder.com/300x200" alt="">
        </div>
        <div class="thumbnail-item__caption">
            <div class="thumbnail-item__text">
                <p>{{ text }}</p>
            </div>
            <span class="pill">
            {{ pill }}
        </span>
        </div>
    </a>
</div>